{% extends "base.html" %}

{% block body %}
  <form method="get" action="">
     {{ form.distance.label }}：
     {{ form.distance }}
     <hr>

     {{ form.name_r.label }}：
     {% for name in form.name_r %}
        {{ name }}
     {% endfor %}
     <hr>

     {{ form.name_s.label }}：
     {{ form.name_s }}
     <hr>

     {{ form.send_message.label }}：
     {{ form.send_message }}
     <hr>

     {{ form.day.label }}：
     {{ form.day }}
     <hr>

     {{ form.place_r.label }}：
     {% for place in form.place_r %}
        {{ place }}
     {% endfor %}
     <hr>

     {{ form.place_s.label }}：
     {{ form.place_s }}
     <hr>

  </form>
{% endblock %}
