{% extends "base.html" %}

{% block body %}
  <form method="get" action="">

     <table>
        <caption>自己ベストタイム</caption>
        <tr>
          <th></th>
          <th colspan="2">相模川</th>
          <th colspan="2">三崎口</th>
        </tr>
        <tr>
          <td ></td>
          <td >3km</td>
          <td >6km</td>
          <td >3km</td>
          <td >6km</td>
        </tr>
        <tr>
          <td >大森</td>
          <td >3km</td>
          <td >6km</td>
          <td >3km</td>
          <td >6km</td>
        </tr>




  </form>
{% endblock %}
