<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" /> </head>
<body>
   <form action="/wsp_home"
         method="POST">
    <select name="day">
     <option value="getu">月</option>
     <option value="ka">火</option>
     <option value="sui">水</option>
     <option value="moku">木</option>
     <option value="kinn">金</option>
     <option value="do">土</option>
     <option value="niti">日</option>
    </select>


    <input type="submit" value="送信">
  </form>
 </body>
</html>
