{% extends "base.html" %}

{% block body %}
  <a href="{% url 'wsp_time:index' %}">自己ベストタイム表へ</a>
  <form method="get" action="">
     {{ form.day.label }}：
     {{ form.day }}
     <hr>

     {{ form.name_s.label }}：
     {{ form.name_s }}
     <hr>

     {{ form.place_s.label }}：
     {{ form.place_s }}
     <hr>

     {{ form.distance.label }}：
     {{ form.distance }}
     <hr>

     {{ form.time.label }}：
     {{ form.time }}
     <hr>

     {{ form.errors.message }}
     <label>{{ form.message.label }}{{ form.message }}</label><br/>
     {% csrf_token %}
     <input type="submit" value="登録">

  </form>
{% endblock %}
