{% extends "base.html" %}

{% block body %}
<a href="{% url 'wsp_time:add' %}">登録画面へ</a>
  <form method="post" action="">
    <table border="1">
     <thead>
      <tr>
        <th>message</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th>　</th>
      </tr>
     </thead>
     <tbody>
      {% for message in messages %}
        <tr>
          <td>{{ message.message }}</td>
          <td>{{ message.created_at }}</td>
          <td>{{ message.updated_at }}</td>
          <td><a href="{% url 'wsp_time:edit' message.id %}">更新画面へ</a></td>
        </tr>
      {% endfor %}
     </tbody>
    </table>
  </form>
{% endblock %}
